        #mainbody {
            font-family: 'Proxima Nova Alt Regular';
            width: 1100px;
            height: 500px;            
            color: Gray;
            margin-bottom: 10px;
            border: 1px solid #ccc;
        }

        #timer {
            text-align: center;
            font-weight: 600;
            margin-top: 80px;
            margin-left: 350px;
            margin-bottom: 10px;
        }

        #top {
            text-align: center;
            font-weight: 800;
            font-size: 24px;
        }

        #bottom {
            font-family: 'Proxima Nova Alt Regular';
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            margin-left: 200px;
        }

        #timer div {
            display: inline-block;
            line-height: 1;
            font-size: 34px;
            padding: 25px;
            font-weight: bold;
        }

        #Message {
            line-height: 1;
            font-size: 30px;
            padding: 25px;
            margin-top: 30px;
            margin-left: 300px;
            margin-bottom: 10px;
            text-align: center;
        }

        #timer div span {
            display: block;
            font-size: 24px;
            font-weight: bold;
        }

        html,
        body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            display: table-cell;
            vertical-align: middle;
        }
